<html>
<head>
    <title>Image Captioning</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
    <body>

        <div class="container">
            <div class="row">
                <img src="{{url_for('static', filename='file.jpg')}}" alt="" height="400px" width="400px">
            </div>

            <div class="row predict_div">
                <label class="file-label">Predicate Caption: &nbsp;&nbsp;&nbsp;</label>
                <h3 class="predict_text"> {{final}} </h3>
            </div>

        </div>
    </body>
</html>